/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

@font-face {
      font-family: 'source-sans-pro-web-normal-400-fallback';
      size-adjust: 94%;
      src: local('Arial');
}


img { height: auto;}

header { min-height: 220px;
   @include at-media-max($theme-header-min-width) {
      min-height: 48px;
   }

  
}

.hero-wrapper {
   min-height: 533px;
   max-height: 534px;
   overflow: hidden;

 

   div[data-section-status='loaded'] & {
      max-height: none;
   }
  
}

@media(max-width: 280px)  {
   .hero-wrapper {
      min-height: 762px;
      max-height: 763px;
   }
   
}

@media(max-width: 340px)  {
   .hero-wrapper  {min-height: 670px;
   max-height: 671px;}
}

@media(max-width: 374px)  {
   .hero-wrapper { min-height: 608px;
   max-height: 609px;}
}

@media(max-width: 400px)  {
   .hero-wrapper { min-height: 571px;
   max-height: 572px;}
}