/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

//
  @use "uswds-core" with (
//    $setting: value,
//    $setting: value
    $theme-font-path: "/fonts",
    $theme-font-sans-custom-stack: 'source-sans-pro-web-normal-400-fallback',
    $theme-image-path: "/icons"
 );
//
