/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;


img { height: auto;}

header { min-height: 220px;
   @include at-media-max($theme-header-min-width) {
      min-height: 48px;
   }
}

.hero-wrapper {
   min-height: 533px;

   @include at-media-max($theme-header-min-width) {
      min-height: 470px;
   }
}