/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

@font-face {
      font-family: 'source-sans-pro-web-normal-400-fallback';
      size-adjust: 94%;
      src: local('Arial');
}


img { height: auto;}

body>header { min-height: 220px;
   @include at-media-max($theme-header-min-width) {
      min-height: 48px;
   }

  
}
// components that should go edge to edge
.grid-container {  
   &.hero-wrapper, &.alert-wrapper {
      padding: 0;
   }

   & .grid-row.grid-nowrap {
      flex-wrap: nowrap;
   }
   }

   .usa-logo__text {
      display: flex !important;
      
      a {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      a.usa-logo__text--img {
  
        @include at-media-max($theme-header-min-width) {
          display: none;
        }
        flex: none;
        picture {
          max-width: 120px;
          display: block;
          margin-right: 20px;
        }
      }
    }